.gallery-image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.gallery-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.sl-wrapper {
  background-color: rgba(46, 47, 66, 0.8);
}
